.add input, .add textarea {
    outline: none;
    border: 1px solid #ccc;
    font: inherit;
    margin: 10px auto;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.add{
    width: 60%;
    margin: auto;
}
.add textarea {
    height: 200px;
}